<div class="card">
    <div class="card-body">
      <h5 class="titulo text-center">REFERENCIAS PERSONALES</h5>
      <table class="table" *ngFor="let reference of listPersonalReference;index as i">
        <tr [ngStyle]="backgroundColor(i)"><td>Nombre: {{reference.name}}</td></tr>
        <tr [ngStyle]="backgroundColor(i)"><td>Celular: {{reference.celPhone}}</td></tr>
        <tr [ngStyle]="backgroundColor(i)"><td>email: {{reference.email}}</td></tr>
        <tr [ngStyle]="backgroundColor(i)"><td>Ocupación: {{reference.occupation}}</td></tr>
    </table>
    </div>
</div>